<h1>Edit Article</h1>
{{#each articles}}
<form action="/articles/{{title}}?_method=PUT" method="post">
  <p>{{id}}.</p>
  <form action="/" method="put">
    <h2>Title</h2>
    <input name="name" value="{{title}}" type="text">
    <h4>Author</h4>
    <input name="price" value="{{author}}" type="text">
    <h4>Content</h4>
    <input name="inventory" value="{{content}}" type="text">
    <br>
    <br>
    <button type="submit">Update Item</button>
    <br>
  </form>
  <form action="/articles/{{title}}?_method=DELETE" method="post">
    <br>
    <button type="submit">Delete Item</button>
  </form>
{{/each}}
  <form action="/articles" method="get">
    <br>
    <button type="submit">Cancel</button>
  </form>