<h1>Products</h1>
  <form action="/products/new" method="get">
    <button type="submit">Create New Item</button>
  </form>
  <form action="/products/" method="get">
    <button type="submit">Home</button>
  </form>
{{#each products}}
  <br>
  <br>
  <form action="/products/{{id}}" method="get">
    <button class="product-name" type="submit">{{name}}</button>
  </form>
  <p>Price: {{price}}</p>
  <p>Availability: {{inventory}}</p>
  <form action="/products/{{id}}/edit" method="get">
    <button type="submit">Edit Item</button>
  </form>
  <br>
  <br>

{{/each}}